@font-face {
    font-family: 'hellovetica';
    src: url('hellovetica.ttf') format('truetype');
  }

*, *::before, *::after {
  box-sizing: border-box;
}

body {
    background-color: #008080;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow:hidden;
  }
  
  .mainWindow {
    position: absolute;
    background-color: #c0c0c0;
    width: 300px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: 1.5px solid #808080;
    font-family: 'hellovetica', monospace; /* Pixelated font */
    border-style: solid;
    border-color: white black black white;
  }
  .startupsWindow {
    position: absolute;
    top:10%;
    left:15%;
    background-color: #c0c0c0;
    width: 300px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: 1.5px solid #808080;
    font-family: 'hellovetica', monospace; /* Pixelated font */
    border-style: solid;
    border-color: white black black white;
    display:none;
  }
  .researchWindow {
    position: absolute;
    top:45%;
    left:5%;
    background-color: #c0c0c0;
    width: 300px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: 1.5px solid #808080;
    font-family: 'hellovetica', monospace; /* Pixelated font */
    border-style: solid;
    border-color: white black black white;
    display:none;
  }
  .projectsWindow {
    position: absolute;
    top:65%;
    left:20%;
    background-color: #c0c0c0;
    width: 300px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: 1.5px solid #808080;
    font-family: 'hellovetica', monospace; /* Pixelated font */
    border-style: solid;
    border-color: white black black white;
    display:none;
  }
  .interestsWindow {
    position: absolute;
    top:70%;
    left:65%;
    background-color: #c0c0c0;
    width: 300px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: 1.5px solid #808080;
    font-family: 'hellovetica', monospace; /* Pixelated font */
    border-style: solid;
    border-color: white black black white;
    display:none;
  }
  

  .aboutWindow{
    position: absolute;
    top:5%;
    left:65%;
    background-color: #c0c0c0;
    width: 300px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: 1.5px solid #808080;
    font-family: 'hellovetica', monospace; /* Pixelated font */
    border-style: solid;
    border-color: white black black white;
    display:none;
  }
  
  .copyright{

    position:absolute;
    bottom:1.5%;
    right:2%;
    /* margin-right:auto; */
    font-family: 'hellovetica', monospace;
    word-spacing:3px;
    color:white;
    font-size: 7px;
    
  }
  .year{
    position:absolute;
    bottom:1%;
    right:3%;
    /* margin-right:auto; */
    color:white;

  }

  .title-bar {
    background-color: rgb(140, 140, 140);
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: solid 1.5px #000000;
  
  }
  .title-bar-about {
    background-color: rgb(140, 140, 140);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: solid 1.5px #000000;
  
  }
  .title-bar-startups {
    background-color: rgb(140, 140, 140);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: solid 1.5px #000000;
  
  }
  .title-bar-research {
    background-color: rgb(140, 140, 140);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: solid 1.5px #000000;
  
  }
  .title-bar-projects {
    background-color: rgb(140, 140, 140);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: solid 1.5px #000000;
  
  }
  .title-bar-interests {
    background-color: rgb(140, 140, 140);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: solid 1.5px #000000;
  
  }
  
  .title {
    color: white;
    font-size: 10px;
    font-weight: bold;
  }
  
  .buttons {
    display: flex;
    gap: 5px;
    
  }
  
  .button {
    background-color: #c0c0c0;
    width: 10px;
    height: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: white black black white;
    cursor: pointer;
}
  
  .content {
    padding: 10px;
    font-size: 9px;
  }
  
  .win98-button {
    background-color: #c0c0c0;
    border: 1px solid #808080;
    padding: 2px 5px;
    font-family: 'hellovetica', monospace;
    font-size: 9px;
    cursor: pointer;
  }
  
  a {
    color: #0077B5; /* LinkedIn's blue color */
    text-decoration: none; /* Removes the underline */
    }

    a:hover {
        text-decoration: underline; /* Adds an underline when hovered */
        color: #004e77;
    }

    .flex{
    display:flex;
}

.computer {
    width:100px;
    height:100px;
    position: fixed;
    top: 3px;
    left: 3px;
    cursor: pointer; /* Makes it look clickable */
    /* z-index: 1000; Ensures it's above other elements */
}
.computerText {

    position: fixed;
    top: 85px;
    left: 22px;
    font-family: 'hellovetica', monospace;
    font-size: 7px;
    cursor: pointer;

}

.about {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 130px;
    left: 25px;
    cursor: pointer; /* Makes it look clickable */
    /* z-index: 1000; Ensures it's above other elements */
}
.aboutText {
    position: fixed;
    top: 185px;
    left: 22px;
    font-family: 'hellovetica', monospace;
    font-size: 7px;
    cursor: pointer;
}

.startups {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 220px;
  left: 25px;
  cursor: pointer; /* Makes it look clickable */
}
.startupsText {
  position: fixed;
  top: 275px;
  left: 22px;
  font-family: 'hellovetica', monospace;
  font-size: 7px;
  cursor: pointer;
}

.research {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 310px;
  left: 25px;
  cursor: pointer; /* Makes it look clickable */
}
.researchText {
  position: fixed;
  top: 360px;
  left: 22px;
  font-family: 'hellovetica', monospace;
  font-size: 7px;
  cursor: pointer;
}

.projects{
  width: 50px;
  height: 50px;
  position: fixed;
  top: 400px;
  left: 25px;
  cursor: pointer; /* Makes it look clickable */
  /* z-index: 1000; Ensures it's above other elements */
}

.projectsText {
  position: fixed;
  top: 450px;
  left: 22px;
  font-family: 'hellovetica', monospace;
  font-size: 7px;
  cursor: pointer;
}

.interests{
  width: 50px;
  height: 50px;
  position: fixed;
  top: 490px;
  left: 25px;
  cursor: pointer; /* Makes it look clickable */
  /* z-index: 1000; Ensures it's above other elements */
}

.interestsText {
  position: fixed;
  top: 540px;
  left: 22px;
  font-family: 'hellovetica', monospace;
  font-size: 7px;
  cursor: pointer;
}



.AboutWindowText{
    /* letter-spacing: 2px; */
    word-spacing:5px;
}


.button {
    width: 20px;   /* Width of each button */
    height: 20px;  /* Height of each button */
    display: inline-block;
    text-align: center;
    line-height: 20px;  /* Vertically centers the text/icon in the button */
    /* Add other styles as needed */
}

.contentItem{
    cursor: pointer;
}

.contentContainer{
    display:flex;
    gap:50px;
    /* flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:10px;
    padding:10px; */
}
.phbdImage{
    margin-top:8%;
    width:92px;
    height:120px;
    border: 1.5px solid #000000;
}
.mainWindow, .aboutWindow, .startupsWindow, .researchWindow, .projectsWindow, .interestsWindow {
  z-index: 1; /* Or another initial value, but make sure currentZIndex starts higher */
}

.positioner{
  position:absolute;
  top:20px;
  margin-left:147px;
  /* setting the initial opacity to 1, which is fully visible */
  opacity: 1;
  /* adding a transition of 3 seconds for the opacity */
  transition: opacity 3s;
  z-index:-10;
}

.image-container {
  position: relative; /* This is important so the child absolute positioning is relative to this container */
  width: 400px; /* or whatever width you want */
  height: 200px; /* or whatever height you want */
  overflow: hidden; /* To make sure the image and text stay within the bounds of the container */
  color:white;
  word-spacing:3px;
  font-size:8px;
}

.image-container img {
  width: 100%; /* To make the image take the full width of the container */
  height: 100%; /* To make the image take the full height of the container */
}

.overlay-text-1 {
  font-family: "hellovetica",'Courier New', Courier, monospace;
  position: absolute; /* This takes the text out of the document flow and positions it over the image */
  bottom: 33px; /* Distance from the bottom of the container */
  left: 26px; /* Distance from the left of the container */
  padding: 5px; /* Spacing around the text */
}
.overlay-text-2 {
  font-family: "hellovetica",'Courier New', Courier, monospace;
  position: absolute; /* This takes the text out of the document flow and positions it over the image */
  bottom: 53px; /* Distance from the bottom of the container */
  left: 26px; /* Distance from the left of the container */
  padding: 5px; /* Spacing around the text */
}
.overlay-text-3 {
  font-family: "hellovetica",'Courier New', Courier, monospace;
  word-spacing:2px;  position: absolute; /* This takes the text out of the document flow and positions it over the image */
  bottom: 74px; /* Distance from the bottom of the container */
  left: 26px; /* Distance from the left of the container */
  padding: 5px; /* Spacing around the text */
}